*.obj
*.dll
*.exe
*.sdf
*.suo
*.ncb
*.pdb
*.idb
*.ipch
*.db
*.vcxproj.user
*.VC.*
code/qcommon/git.h
code/win32/winquake.res
code/renderer/hlsl/*.h
makefiles/windows_vs*/*sdf
makefiles/*/obj
.build
.bin
/.project
*.bak
*.orig
